
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "helvetica now text w02";
}

.black{
    color: black;
}

.white{
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: black;
}

#nav{
    color: wheat;
    display: flex;
    width: 100%;
    height: fit-content;
    background: linear-gradient(to right,#0C4129,#187048);
    padding: 3vh 8vh;
    justify-content: space-evenly;
    align-items: center;
}

.subnav{
    width: 45%;
    align-items: center;
    right: 7%;
    display: flex;
    justify-content: flex-end;
    gap: 8%;
}

.subnav i span{
    font-weight: 600;
    font-size: 15px;
}

.subnav img{
    background-color: #e894ba;
    filter: invert(1); 
}    


#btnMenu{
    gap: 1%;
    width: 45%;
    align-items: center;
    display: flex;
    background: transparent;
    border-style: none;
    cursor: pointer;
}

.subnav i{
    background: transparent;
    color: white;
    font-size: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.subnav i:nth-child(3):hover{
    color: #61BD93;
}

.subnav i:nth-child(2):hover{
    color: #61BD93;
}

#btnSearch{
    background: transparent;
    border-style: none;
    cursor: pointer;
    width: fit-content;
}

#btnSearch i{
    font-size: 20px;
    color: white;
}

#btnSearch:hover i{
    color: #61BD93;
}

#btnMenu span{
    font-size: 15px;
    font-weight: bold;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}

#btnMenu svg{
    color: white;
    transition: all 0.3s;
}

#btnMenu:hover span{
    color: #61BD93;
}

#btnMenu:hover svg{
    color: #61BD93;
}

#logo{
    align-items: center;
    justify-self: center;
    width: 45px;
    height: 45px;
    padding-bottom: 0.2vh;
}

.logodiv{
    width: 10%;
    display: flex;
    justify-content: center;
}

#herodiv{
    position: relative;
    width: 100%;
    height: 50%;
}

#herodiv video{
    z-index: 9;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.overlay{
    text-align: center !important;
    top: 35%;
    width: 100%;
    bottom: 35%;
    z-index: 11;
    position: absolute;
    color: white;
    
}
.overlay h3{
    font-size: 1.3vw;
    font-family: "font";
}

.overlay h1{
    font-size: 5vw;
}

.black{
    height: 100%;
    width: 100%;
    position: absolute !important;
    z-index: 10;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.795), rgba(255, 255, 255, 0.236));
}

#herodiv2{
    display: flex;
    height: 33.5%;
    width: 100%;
    background-color: white;
    align-items: center;
}

.subhero2{
    width: 50%;
    height: fit-content;
    font-size: 1vw;
    padding: 7%;
}

.subhero2 h3{
    font-weight: 200;
    padding-bottom: 3vw;
}

.subhero2 a{
    cursor: pointer !important;
    color: #126D44;
    margin-top: 3vh;
    font-size: 1vw;
    font-weight: 800;
    transition: all 0.3s;
}

#herodiv2 h2{
    padding: 7%;
    color: #126D44;
    width: 50%;
    font-size: 2.8vw;
}

.subhero2 a:hover{
    color: black;
}

#herodiv3{
    position: relative;
    align-items: center;
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#herodiv3 a{
    transition: all 0.3s;
    cursor: pointer;
    font-weight: 800;
}

#herodiv3 a:hover{
    color: #126D44;
}

.ri-circle-fill{
    position: absolute;
    top: 44%;
    color: #0C4129;
    font-size: 10px;
    cursor: pointer;
}


#herodiv3 button{
    margin-left: 11vw;
    color: white;
    border-style: none !important;
    background-color: #126D44;
    padding: 5px 25px;
    border-radius: 14px;
    transition: all 0.4s;
    cursor: pointer;
}

#reacterAll{
    color: #126D44;
}

#reacterClassic a i{
    display: none !important;
}

#reacterProfessional a i{
    display: none !important;
}

#reacterWatch a i{
    display: none !important;
}

#herodiv3 button:hover{
    background-color: #0c432a;
}

.watch1{
    position: relative;
    height: 50%;
    width: 100%;
    display: block;
}

.watch1 img{
    z-index: 10;
    object-position: center;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all linear 0.4s;
}       

.watch1:hover img{
    opacity: 0;
}

.watch1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.olwatch1{
    
    position: absolute;
    z-index: 99;
    top: 55%;
    left: 8%;
    width: fit-content;
    
}

.olwatch1 h1{
    font-size: 3vw;
    /* opacity: 0; */
    transition: all 0.3s ease;
}

.olwatch1 h3{
    opacity: 0;
    font-weight: 100;
    font-size: 1.5vw;
    padding-bottom: 1vh;
    transition: all 0.3s ease;
}

.olwatch1 a{
    opacity: 0;
    cursor: pointer !important;
    font-size: 1vw;
    font-weight: 700;
    transition: all 0.3s ease;
}

.olwatch1 a:hover{
    opacity: 60%;
}